# ESP-IDF build output
build/

# ESP-IDF generated configuration/local files
sdkconfig.old
sdkconfig.backup
dependencies.lock

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
